$error-color: secondary-color(red);

fieldset {
  padding: 0;
  border: 0;
  margin: 0;

  legend {
    display: block;
    width: 100%;
  }
}

label {
  display: block;
  padding: 10px 0;
}

.required {
  color: secondary-color(red);
}

.error-message {
  background: $error-color;
  color: primary-color(white);
  @include rem(font-size, 12px);
  @include font-weight(semibold);
  line-height: (18 / 12);
  padding: 0 6px 3px;
  margin-top: -30px;
  margin-bottom: 10px;
}

// Input Fields
//
// :focus      - Focus state
//
// Wrapper:
// max-width: 375px;
//
// Markup:
// <input type="text" placeholder="Text Input" class="{{modifier_class}}">
// <input type="email" placeholder="Email Input" class="{{modifier_class}}">
// <input type="password" placeholder="Password Input" class="{{modifier_class}}">
// <input type="search" placeholder="Search Input" class="{{modifier_class}}">
// <input type="tel" placeholder="Telephone Input" class="{{modifier_class}}">
// <textarea class="{{modifier_class}}" placeholder="Textarea"></textarea>
//
// Weight: -99
//
// Styleguide Forms.Input Fields
input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='tel'],
select,
textarea {
  display: block;
  width: 100%;
  background-color: primary-color(gray, tint3);
  color: primary-color(gray);
  font-family: $body-font;
  font-size: 16px;
  line-height: (23 / 13);
  padding: 8px 12px 10px;
  border: 0;
  border-bottom: 1px solid primary-color(blue);
  border-radius: 0;
  box-shadow: none;
  margin: 0 0 30px;
  -webkit-appearance: none;
  transition: $ts $te;

  @include from(7) {
    @include rem(font-size, 13px);
  }

  &:last-child {
    margin: 0;
  }

  &::-webkit-input-placeholder {
    color: primary-color(gray);
    font-style: italic;
    @include font-weight(regular);
    opacity: 1;
  }

  &::-ms-placeholder {
    color: primary-color(gray);
    font-style: italic;
    @include font-weight(regular);
    opacity: 1;
  }

  &::placeholder {
    color: primary-color(gray);
    font-style: italic;
    @include font-weight(regular);
    opacity: 1;
  }

  &:focus {
    background-color: primary-color(gray, tint3);
    border-color: primary-color(orange);
    outline: none;

    &::-webkit-input-placeholder {
      color: primary-color(gray);
    }

    &::-ms-placeholder {
      color: primary-color(gray);
    }

    &::placeholder {
      color: primary-color(gray);
    }
  }

  &.-invalid {
    border-color: $error-color;
  }
}

textarea {
  min-height: 190px;
  resize: vertical;
}

// Select Elements
//
// :focus      - Focus state
//
// Wrapper:
// max-width: 375px;
//
// Markup:
// <select class="{{modifier_class}}">
//   <option value="option1">Option 1</option>
//   <option value="option2">Option 2</option>
//   <option value="option3">Option 3</option>
//   <option value="option4">Option 4</option>
//   <option value="option5">Option 5</option>
// </select>
//
// Weight: -98
//
// Styleguide Forms.Select Elements
select {
  display: block;
  background-color: primary-color(gray, tint3);
  background-image: url('../images/select-arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px auto;
  text-decoration: none;
  appearance: none;
  padding-right: 35px;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #666;
  }

  // for IE 11
  &::-ms-expand {
    display: none;
  }

  option {
    font-family: $body-font;
  }
}

// Checkboxes
//
// Wrapper:
// max-width: 375px;
//
// Markup:
// <div class="checks">
//   <div class="check">
//     <input type="checkbox" id="c1" name="cb" checked>
//     <label for="c1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</label>
//   </div>
//   <div class="check">
//     <input type="checkbox" id="c2" name="cb">
//     <label for="c2">Option Two</label>
//   </div>
//   <div class="check">
//     <input type="checkbox" id="c3" name="cb">
//     <label for="c3">Option Three</label>
//   </div>
// </div>
//
// Weight: -97
//
// Styleguide Forms.Checkboxes

// Radio Buttons
//
// Wrapper:
// max-width: 375px;
//
// Markup:
// <div class="radios">
//   <div class="radio">
//     <input type="radio" id="r1" name="r" checked>
//     <label for="r1">Option One</label>
//   </div>
//   <div class="radio">
//     <input type="radio" id="r2" name="r">
//     <label for="r2">Option Two that wraps Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</label>
//   </div>
//   <div class="radio">
//     <input type="radio" id="r3" name="r">
//     <label for="r3">Option Three</label>
//   </div>
// </div>
//
// Weight: -96
//
// Styleguide Forms.Radio Buttons
.checks,
.radios {
  margin: 25px 0;

  legend {
    margin-bottom: 8px;
  }

  .check,
  .radio {
    position: relative;
    margin-bottom: 15px;

    &:last-child {
      margin: 0;
    }
  }

  label {
    position: relative;
    width: auto;
    color: primary-color(black);
    @include rem(font-size, 13px);
    line-height: (18 / 13);
    padding: 0 0 0 30px;
    margin: 0;

    @include icon {
      display: inline-block;
      position: absolute;
      top: -1px;
      left: 0;
      width: 20px;
      height: 20px;
      cursor: pointer;
      color: transparent;
      @include rem(font-size, 8px);
      line-height: 18px;
      text-align: center;
      border: 1px solid #aea6a2;
      transition: color $ts $te;
    }

    @include hover {
      cursor: pointer;

      &::before {
        color: rgba(primary-color(orange), .3);
      }
    }
  }

  input[type='checkbox'],
  input[type='radio'] {
    display: none;

    &:checked + label {

      &::before {
        color: primary-color(orange);
      }
    }
  }

  input[type='checkbox'] {

    & + label {
      @include icon(check-sm, before, false);
    }
  }

  input[type='radio'] {

    & + label {
      @include icon(radio-sm, before, false) {
        border-radius: 50%;
      };
    }
  }

  .error-message {
    margin-top: 8px;
  }
}

// Error Validation
//
// Error validation is performed on the client-side by Hyperform JS. See <code>src/js/form-validation.js</code> for more info or visit Hyperform's documentation <a href="https://hyperform.js.org/docs/" target="_blank">here</a>.
//
// Wrapper:
// max-width: 375px;
//
// Markup:
// <input class="-invalid" type="text" name="first" placeholder="First Name" required>
// <div class="error-message">Please fill out this field.</div>
// <input class="-invalid" type="text" name="last" placeholder="Last Name" required>
// <div class="error-message">Please fill out this field.</div>
// <input class="-invalid" type="email" placeholder="Email Address" required>
// <div class="error-message">Please fill out this field.</div>
// <input class="-invalid" type="tel" placeholder="Phone Number" required>
// <div class="error-message">Please fill out this field.</div>
// <input class="-invalid" type="text" placeholder="Address 1" required>
// <div class="error-message">Please fill out this field.</div>
// <input class="-invalid" type="text" placeholder="Address 2" required>
// <div class="error-message">Please fill out this field.</div>
// <select class="-invalid" required>
//   <option value="">Select one</option>
//   <option value="Option 1">Option 1</option>
//   <option value="Option 2">Option 2</option>
//   <option value="Option 3">Option 3</option>
// </select>
// <div class="error-message">Please select an option.</div>
//
// Weight: 99
//
// Styleguide Forms.Error Validation
