$programcolors: (
  generic: #0e6ea6,
  africa-program: #008299,
  argentina-project: #008094,
  asia-program: #763cbd,
  brazil-institute: #578000,
  canada-institute: #cf3439,
  china-environment-forum: #578000,
  cold-war-international-history-project: #5c5c5c,
  commons-lab: #d64000,
  digital-futures-project: #d64000,
  environmental-change-and-security-program: #007935,
  global-europe-program: #036bab,
  global-womens-leadership-initiative: #008094,
  history-and-public-policy-program: #036bab,
  hyundai-motor-korea-foundation-center-for-korean-history-and-public-policy: #0a7bc2,
  kennan-institute: #cf3339,
  kissinger-institute-on-china-and-the-united-states: #036bab,
  latin-american-program: #008094,
  maternal-health-initiative: #773dbe,
  mexico-institute: #007834,
  middle-east-program: #8f7200,
  north-korea-international-documentation-project: #cf3339,
  nuclear-proliferation-international-history-project: #036bab,
  polar-institute: #008094,
  science-and-technology-innovation-program: #008094,
  the-islamists: #d64000,
  urban-sustainability-laboratory: #036bab
);

// Programs
//
// Programs:
// Generic : generic
// Africa Program : africa-program
// Argentina Project : argentina-project
// Asia Program : asia-program
// Brazil Institute : brazil-institute
// Canada Institute : canada-institute
// China Environment Forum : china-environment-forum
// Cold War International History Project : cold-war-international-history-project
// Commons Lab : commons-lab
// Digital Futures Project : digital-futures-project
// Environmental Change and Security Program : environmental-change-and-security-program
// Global Europe Program : global-europe-program
// Global Womens Leadership Initiative : global-womens-leadership-initiative
// History and Public Policy Program : history-and-public-policy-program
// Hyundai Motor Korea Foundation Center for Korean History and Public Policy : hyundai-motor-korea-foundation-center-for-korean-history-and-public-policy
// Kennan Institute : kennan-institute
// Kissinger Institute on China and the United States : kissinger-institute-on-china-and-the-united-states
// Latin American Program : latin-american-program
// Maternal Health Initiative : maternal-health-initiative
// Mexico Institute : mexico-institute
// Middle East Program : middle-east-program
// North Korea International Documentation Project : north-korea-international-documentation-project
// Nuclear Proliferation International History Project : nuclear-proliferation-international-history-project
// Polar Institute : polar-institute
// Science and Technology Innovation Program : science-and-technology-innovation-program
// The Islamists : the-islamists
// Urban Sustainability Laboratory : urban-sustainability-laboratory
//
// Colors:
// program-color(generic) : #0e6ea6 - Generic
// program-color(africa-program) : #008299 - Africa Program
// program-color(argentina-project) : #008094 - Argentina Project
// program-color(asia-program) : #763cbd - Asia Program
// program-color(brazil-institute) : #578000 - Brazil Institute
// program-color(canada-institute) : #cf3439 - Canada Institute
// program-color(china-environment-forum) : #578000 - China Environment Forum
// program-color(cold-war-international-history-project) : #5c5c5c - Cold War International History Project
// program-color(commons-lab) : #d64000 - Commons Lab
// program-color(digital-futures-project) : #d64000 - Digital Futures Project
// program-color(environmental-change-and-security-program) : #007935 - Environmental Change and Security Program
// program-color(global-europe-program) : #036bab - Global Europe Program
// program-color(global-womens-leadership-initiative) : #008094 - Global Womens Leadership Initiative
// program-color(history-and-public-policy-program) : #036bab - History and Public Policy Program
// program-color(hyundai-motor-korea-foundation-center-for-korean-history-and-public-policy) : #0a7bc2 - Hyundai Motor Korea Foundation Center for Korean History and Public Policy
// program-color(kennan-institute) : #cf3339 - Kennan Institute
// program-color(kissinger-institute-on-china-and-the-united-states) : #036bab - Kissinger Institute on China and the United States
// program-color(latin-american-program) : #008094 - Latin American Program
// program-color(maternal-health-initiative) : #773dbe - Maternal Health Initiative
// program-color(mexico-institute) : #007834 - Mexico Institute
// program-color(middle-east-program) : #8f7200 - Middle East Program
// program-color(north-korea-international-documentation-project) : #cf3339 - North Korea International Documentation Project
// program-color(nuclear-proliferation-international-history-project) : #036bab - Nuclear Proliferation International History Project
// program-color(polar-institute) : #008094 - Polar Institute
// program-color(science-and-technology-innovation-program) : #008094 - Science and Technology Innovation Program
// program-color(the-islamists) : #d64000 - The Islamists
// program-color(urban-sustainability-laboratory) : #036bab - Urban Sustainability Laboratory
//
// Weight: -99
//
// Styleguide Programs
