//  Slicer Breakpoints
//  https://github.com/lolmaus/breakpoint-slicer
//
//  Breakpoint:    0      100px   200px   320px   400px   500px   600px   768px       1921px
//                 |───────┼───────┼───────┼───────┼───────┼───────┼───────┼──── ... ───┼────────>
//  Slice #:               1       2       3       4       5       6       7           19
$slicer-breakpoints: 100px 200px 320px 400px 500px 600px 700px 800px 900px 1000px 1100px 1200px 1300px 1400px 1500px 1600px 1700px 1800px 1921px;
$slicer-anti-overlap-corrections: -1px;

$alternate-gothic: 'alternate-gothic-no-1-d'; // 400
$oswald: 'oswald'; // 400
$farnham: 'farnham-display'; // 400 & 500
$acumin: 'acumin-pro'; // 400 & 600

$arial: Arial, 'Helvetica Neue', Helvetica, sans-serif;

$body-color: primary-color(gray);
$body-font: $acumin;
$header-color: primary-color(gray);
$header-font: $alternate-gothic;
$link-color: primary-color(orange);

$base-font-size: 16px;

$mobile-x-padding: 20px;
$tablet-x-padding: 40px;

// radius
$border-radius: 0;

// transitions
$ts: .15s; // transition speed
$te: ease-in-out; // transition ease
