
@import '../menu/menu';

%wrapper-text {
  text-transform: uppercase;
  color: primary-color(white);
  @include rem(font-size, 14px);
  @include font-weight(semibold);
}

.app {

  &-header {
    background: primary-color(black);

    &-inner {
      @extend %wrapper-text;
      color: primary-color(white);
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px $mobile-x-padding 0;
    }

    &-flyout {
      transform: rotate(180deg);
    }

    &-logo {
      height: 30px;
      margin: 0 auto;
      pointer-events: none;
    }

    &-nav {
      @include menu;
    }

  }

  &-main {
    padding: 30px $mobile-x-padding;
  }

  &-footer {
    background: primary-color(white);
    border-top: solid 1px primary-color(gray, tint2);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    &-inner {
      @extend %wrapper-text;
    }

    &-nav {
      @include menu;

      > li {
        border-right: solid 1px primary-color(gray, tint2);
      }

      a {
        text-transform: capitalize;
        color: primary-color(black);
        @include rem(font-size, 14px);
        @include font-weight(normal);
      }
    }
  }

}
