@keyframes flip {
  0% {
    transform: perspective($flipper-perspective) rotateY(0);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective($flipper-perspective) translateZ($flipper-translate) rotateY(170deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective($flipper-perspective) translateZ($flipper-translate) rotateY(190deg) scale(1);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective($flipper-perspective) rotateY($flipper-degrees-max * 4) scale(.95);
    animation-timing-function: ease-in;
  }

  100% {
    transform: perspective($flipper-perspective) scale(1);
    animation-timing-function: ease-in;
  }
}

.flip {
  transform-style: preserve-3d;
  backface-visibility: visible !important; // sass-lint:disable-line no-important
  animation-name: flip;
}
