// Content Constraint
//
// Applies a max-width to constrain content size
//
// $width = 1200px - Max-width of container
//
// Definition:
// @mixin content-constraint($width: 1200px) {
//   max-width: $width;
//   margin-left: auto;
//   margin-right: auto;
// }
//
// Usage:
// .sample {
//   @include content-constraint;
// }
//
// Compiled:
// .sample {
//   max-width: 1200px;
//   margin-left: auto;
//   margin-right: auto;
// }
//
// Weight: -99
//
// Styleguide Sass Mixins.Content Constraint
@mixin content-constraint($width: 1200px) {
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
}
