@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-$base-distance * 2);
  }
}

.fadeOutLeft {
  animation-name: fadeOutLeft;
}
