@keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-$base-distance-big * 2);
  }
}

.fadeOutUpBig {
  animation-name: fadeOutUpBig;
}
