@keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX($base-distance-big * 2);
  }
}

.fadeOutRightBig {
  animation-name: fadeOutRightBig;
}
