@keyframes rotateOut {
  0% {
    transform-origin: $rotate-origin;
    transform: rotate(0);
    opacity: 1;
  }

  100% {
    transform-origin: $rotate-origin;
    transform: rotate($rotate-degrees-max);
    opacity: 0;
  }
}

.rotateOut {
  animation-name: rotateOut;
}
